aiohttp==3.9.5
aiosignal==1.3.1
altgraph==0.17.4
astroid==3.2.2
asttokens==2.4.1
attrs==23.2.0
auto-py-to-exe==2.44.1
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
bottle @ git+https://github.com/bottlepy/bottle.git@3fdb8b2a2e0d1641374b53ef2b051fe7f54508b5
bottle-websocket==0.2.9
certifi==2021.5.30
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.8
docopt==0.6.2
docutils==0.21.2
Eel==0.16.0
execnet==2.1.1
executing==2.0.1
fastjsonschema==2.20.0
Flask==3.0.3
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
fonttools==4.53.1
frozendict==2.4.4
frozenlist==1.4.1
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
html5lib==1.1
idna==2.10
imageio==2.34.2
imageio-ffmpeg==0.5.1
iniconfig==2.0.0
ipython==8.12.3
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kiwisolver==1.4.5
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mistune==3.0.2
moviepy==1.0.3
multidict==6.0.5
multitasking==0.0.11
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nextcord==2.6.0
numpy==2.0.0
open_flags==0.0.2
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
peewee==3.17.6
pefile==2023.2.7
pickleshare==0.7.5
pillow==10.4.0
pipreqs==0.5.0
platformdirs==4.2.2
pluggy==1.5.0
proglog==0.1.10
prompt_toolkit==3.0.47
pure_eval==0.2.3
pycparser==2.22
pygame-ce==2.5.1
Pygments==2.18.0
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pylint==3.2.3
pyparsing==3.1.2
pypiwin32==223
pypng==0.20220715.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6-sip==13.6.0
pytest==8.2.2
pytest-cache==1.0
pytest-pylint==0.21.0
pytest-subtests==0.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytube==15.0.0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pyzmq==26.2.0
qrcode==7.4.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
scikit-learn==1.4.2
scipy==1.14.0
setuptools==70.2.0
six==1.16.0
soupsieve==2.6
SQLAlchemy==2.0.41
stack-data==0.6.3
threadpoolctl==3.5.0
tinycss2==1.3.0
tomlkit==0.12.5
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.6
watchdog==4.0.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.4
whichcraft==0.6.1
windows-curses==2.3.3
yarg==0.1.9
yarl==1.9.4
yfinance==0.2.41
zope.event==5.0
zope.interface==6.4.post2
